<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true" />
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="OfferServiceHostUrl" value="https://sos.adaware.com" />
    <add key="FallbackOfferHostUrl" value="https://offerservicefallback.blob.core.windows.net" />
    <add key="FallbackOfferDataFileName" value="FallbackData.json" />
    <add key="FallbackOfferDataDetailsFileName" value="FallbackDetails_@.json" />
    <add key="EventProviderUrl" value="https://flow.lavasoft.com" />
    <add key="BundleInfoHostUrl" value="https://h2oapi.adaware.com" />
  </appSettings>
</configuration>